$color-grey-light: #999;
$color-grey-link: #88888b;
$color-grey-medium: #666;
$color-grey-dark: #000;


// Header colours
$color-navigation-link: #222;
$color-navigation-link-active: $color-grey-dark;