footer {
  padding: 45px 0 45px;
  background-color: #000;
  #footer-copyright {
    font-size: 13px;
    color: #828282;
  }
  .footer-nav {
    text-align: right;
    padding: 0;
    margin: 0;
    li {
      display: inline-block;
      margin-left: 35px;
      a {
        font-size: 16px;
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}


@media only screen and (max-device-width: 920px) {
  footer .col-sm-6, footer .footer-nav  {
    text-align: center !important;
    display: block;
  }

  footer .col-sm-6 + .col-sm-6 {
    display: none !important;
  }

  footer .footer-nav {
    margin-top: 20px;
  }

  footer .col-sm-6 {
    width: 100%;
  }
}

