header {
  display: flex;
  flex-direction: column;

  #header-top {
    width: 100%;
    flex-grow: 1;
  }

  .header-bottom {
    width: 100%;
  }

  .header-content {
    width: 100%;
    h1.rotate {
      white-space: nowrap;
    }
    h1, h2 {
      padding: 0;
      margin: 0;
    }
    h2 {
      margin-top: -11px;
    }
    p {
      margin-top: 0;
    }
  }

  .main-header {
    flex-grow: 1;
  }

  ul {
    padding: 0;
    li {
      list-style: none;
    }
  }
  nav {
    bottom: -5px;
    position: relative;
    @media (max-width: $screen-ms-max) {
      display: none;
    }
    & + .social-icons {
      display: none;
      li {
        display: block !important;
      }
    }
    ul {
      text-align: right;
      li {
        @include fadeInAnimation(0.35s);

        &.menu-work {
          -webkit-animation-delay: 0.125s;
          -moz-animation-delay: 0.125s;
          animation-delay: 0.125s;
        }
        &.menu-about {
          -webkit-animation-delay: 0.25s;
          -moz-animation-delay: 0.25s;
          animation-delay: 0.25s;
        }
        &.menu-contact {
          -webkit-animation-delay: 0.375s;
          -moz-animation-delay: 0.375s;
          animation-delay: 0.375s;
        }

        margin-right: 36px;
        &:last-of-type {
          margin-right: 0;
        }
        a {
          font-family: Lato, serif;
          font-size: 16px;
          text-transform: uppercase;
          text-decoration: none;
          color: $color-navigation-link;
          font-weight: bold;
          &:hover {
            color: #999;
          }
        }
      }
    }
    @media (max-width: $screen-md-max) {
      text-align: left;
    }
    @media (max-width: $screen-ms-max) {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      padding: 20px 15px;
      background: #fff;
      width: 100%;
      z-index: 9999;
      ul {
        text-align: left;
        li {
          display: block !important;
          margin-bottom: 20px;
        }
      }
    }
  }
}

.header-divider {
  width: 57px;
  height: 2px;
  background-color: #000;
}

.sub-header h2 {
  margin: 20px 0 6px 0;
}

.responsive-social {
  display: none;
  background-color: #f0f2f3;
  padding: 40px 0 100px 0;
  margin: 40px -30px 0 -30px;
  padding-left: 30px;
  padding-right: 30px;
}

#open-mobile {
  float: right;
  display: inline-block;
  @media (min-width: $screen-ms-max) {
    display: none;
  }
}

#close-mobile {
  font-size: 20px;
  float: right;
  display: none;
  color: #fff;
  position: relative;
  z-index: 999999;
}

#responsive-menu {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 9999;
}

#menu-primary-navigation-1 {
  margin-top: 0;
}

a#logo i {
  font-size: 40px;
}

#menu-primary-navigation {
  margin: 0;
}


@media only screen and (max-device-width: 736px) {

  body.single-project header i.icon-n {
    color: #222 !important;
  }
  header {
    padding-top: 15px;
    &.menu-home {
      display: block;
    }
  }
}