body.recent-projects {

  #body-container  > .container-fluid > h3:first-of-type {
    margin-bottom: 30px;
    margin-top: 43px;
  }

  section.content {
    white-space: nowrap;
    margin: 0;
    padding: 0;
    overflow:hidden;
    li {
      width: 50%;
      &:last-child {
        text-align: right;
      }
      display: inline-block;
      list-style: none;
      a {
        display:block;
        &:hover {
          opacity: 0.8;
          transition: all 0.2s ease;
        }
        img {
          display:block;
          width: 100%;
        }
      }
    }
  }

  .grey-wrapper {
    background-color: #f8f8f8;
    h3 {
      margin-top: 40px;
    margin-bottom: 35px;
    }
  }
  .container-fluid {
    max-width: 1920px;
  }

  table.project-table {
    &:last-of-type {
      margin-bottom: 150px;
    }
    border: 1px solid #d7d7d7;
    border-spacing: 0;
    border-collapse: collapse;
    thead {
      th {
        text-align: left;
        background-color: #f0f0f0;
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
        color: #000;
        padding: 27px 0 27px 35px;
      }
    }
    tbody {
      tr {
        td {
          border: 1px solid #d7d7d7;
          padding: 17px 0 17px 35px;
          font-size: 16px;
          color: #555;
          font-weight: 300;
          text-align: left;
        }
      }
    }
  }


  /**
  * Breakpoint specific stuff:
  */
  @media (min-width: ($screen-lg-max - 1)) {
    h3 {
      font-size: 26px;
    }
    #body-container  > .container-fluid > h3:first-of-type {
      margin-bottom: 50px;
    }
    section.content {
      margin-bottom: 90px - 5;
    }
  }

  @media (max-width: ($screen-lg-max - 2)) {
    h3 {
      font-size: 24px;
    }
    #body-container  > .container-fluid > h3:first-of-type {
      margin-bottom: 50px;
    }
    section.content {
      margin-bottom: 90px - 5;
    }
  }

  @media (max-width: $screen-md-max) {
    h3 {
      font-size: 20px;
    }
    #body-container  > .container-fluid > h3:first-of-type {
      margin-bottom: 40px;
    }
    section.content {
      margin-bottom: 80px - 5;
    }
  }

  @media (max-width: $screen-ms-max) {
    h3 {
      font-size: 20px;
    }
    #body-container  > .container-fluid > h3:first-of-type {
      margin-bottom: 30px;
    }
    section.content {
      margin-bottom: 70px - 5;
    }
  }

}